<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.commodity.entity.dao.MCatalogGenreSyouhinMapper">
  <resultMap id="BaseResultMap" type="com.commodity.entity.dto.MCatalogGenreSyouhin">
    <id column="CATALOG_ID" jdbcType="CHAR" property="catalogId" />
    <id column="GENRE_NO" jdbcType="VARCHAR" property="genreNo" />
    <id column="HAGAKI_SYOUHIN_CD" jdbcType="VARCHAR" property="hagakiSyouhinCd" />
    <result column="KOUSHIN_BI" jdbcType="TIMESTAMP" property="koushinBi" />
    <result column="KOUSHIN_USERID" jdbcType="VARCHAR" property="koushinUserid" />
    <result column="TOUROKU_BI" jdbcType="TIMESTAMP" property="tourokuBi" />
    <result column="TOUROKU_USERID" jdbcType="VARCHAR" property="tourokuUserid" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    CATALOG_ID, GENRE_NO, HAGAKI_SYOUHIN_CD, KOUSHIN_BI, KOUSHIN_USERID, TOUROKU_BI, 
    TOUROKU_USERID
  </sql>
  <select id="selectByExample" parameterType="com.commodity.entity.dto.MCatalogGenreSyouhinExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from m_catalog_genre_syouhin
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="com.commodity.entity.dto.MCatalogGenreSyouhinKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from m_catalog_genre_syouhin
    where CATALOG_ID = #{catalogId,jdbcType=CHAR}
      and GENRE_NO = #{genreNo,jdbcType=VARCHAR}
      and HAGAKI_SYOUHIN_CD = #{hagakiSyouhinCd,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.commodity.entity.dto.MCatalogGenreSyouhinKey">
    delete from m_catalog_genre_syouhin
    where CATALOG_ID = #{catalogId,jdbcType=CHAR}
      and GENRE_NO = #{genreNo,jdbcType=VARCHAR}
      and HAGAKI_SYOUHIN_CD = #{hagakiSyouhinCd,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.commodity.entity.dto.MCatalogGenreSyouhinExample">
    delete from m_catalog_genre_syouhin
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.commodity.entity.dto.MCatalogGenreSyouhin">
    insert into m_catalog_genre_syouhin (CATALOG_ID, GENRE_NO, HAGAKI_SYOUHIN_CD, 
      KOUSHIN_BI, KOUSHIN_USERID, TOUROKU_BI, 
      TOUROKU_USERID)
    values (#{catalogId,jdbcType=CHAR}, #{genreNo,jdbcType=VARCHAR}, #{hagakiSyouhinCd,jdbcType=VARCHAR}, 
      #{koushinBi,jdbcType=TIMESTAMP}, #{koushinUserid,jdbcType=VARCHAR}, #{tourokuBi,jdbcType=TIMESTAMP}, 
      #{tourokuUserid,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.commodity.entity.dto.MCatalogGenreSyouhin">
    insert into m_catalog_genre_syouhin
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="catalogId != null">
        CATALOG_ID,
      </if>
      <if test="genreNo != null">
        GENRE_NO,
      </if>
      <if test="hagakiSyouhinCd != null">
        HAGAKI_SYOUHIN_CD,
      </if>
      <if test="koushinBi != null">
        KOUSHIN_BI,
      </if>
      <if test="koushinUserid != null">
        KOUSHIN_USERID,
      </if>
      <if test="tourokuBi != null">
        TOUROKU_BI,
      </if>
      <if test="tourokuUserid != null">
        TOUROKU_USERID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="catalogId != null">
        #{catalogId,jdbcType=CHAR},
      </if>
      <if test="genreNo != null">
        #{genreNo,jdbcType=VARCHAR},
      </if>
      <if test="hagakiSyouhinCd != null">
        #{hagakiSyouhinCd,jdbcType=VARCHAR},
      </if>
      <if test="koushinBi != null">
        #{koushinBi,jdbcType=TIMESTAMP},
      </if>
      <if test="koushinUserid != null">
        #{koushinUserid,jdbcType=VARCHAR},
      </if>
      <if test="tourokuBi != null">
        #{tourokuBi,jdbcType=TIMESTAMP},
      </if>
      <if test="tourokuUserid != null">
        #{tourokuUserid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.commodity.entity.dto.MCatalogGenreSyouhinExample" resultType="java.lang.Long">
    select count(*) from m_catalog_genre_syouhin
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update m_catalog_genre_syouhin
    <set>
      <if test="record.catalogId != null">
        CATALOG_ID = #{record.catalogId,jdbcType=CHAR},
      </if>
      <if test="record.genreNo != null">
        GENRE_NO = #{record.genreNo,jdbcType=VARCHAR},
      </if>
      <if test="record.hagakiSyouhinCd != null">
        HAGAKI_SYOUHIN_CD = #{record.hagakiSyouhinCd,jdbcType=VARCHAR},
      </if>
      <if test="record.koushinBi != null">
        KOUSHIN_BI = #{record.koushinBi,jdbcType=TIMESTAMP},
      </if>
      <if test="record.koushinUserid != null">
        KOUSHIN_USERID = #{record.koushinUserid,jdbcType=VARCHAR},
      </if>
      <if test="record.tourokuBi != null">
        TOUROKU_BI = #{record.tourokuBi,jdbcType=TIMESTAMP},
      </if>
      <if test="record.tourokuUserid != null">
        TOUROKU_USERID = #{record.tourokuUserid,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update m_catalog_genre_syouhin
    set CATALOG_ID = #{record.catalogId,jdbcType=CHAR},
      GENRE_NO = #{record.genreNo,jdbcType=VARCHAR},
      HAGAKI_SYOUHIN_CD = #{record.hagakiSyouhinCd,jdbcType=VARCHAR},
      KOUSHIN_BI = #{record.koushinBi,jdbcType=TIMESTAMP},
      KOUSHIN_USERID = #{record.koushinUserid,jdbcType=VARCHAR},
      TOUROKU_BI = #{record.tourokuBi,jdbcType=TIMESTAMP},
      TOUROKU_USERID = #{record.tourokuUserid,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.commodity.entity.dto.MCatalogGenreSyouhin">
    update m_catalog_genre_syouhin
    <set>
      <if test="koushinBi != null">
        KOUSHIN_BI = #{koushinBi,jdbcType=TIMESTAMP},
      </if>
      <if test="koushinUserid != null">
        KOUSHIN_USERID = #{koushinUserid,jdbcType=VARCHAR},
      </if>
      <if test="tourokuBi != null">
        TOUROKU_BI = #{tourokuBi,jdbcType=TIMESTAMP},
      </if>
      <if test="tourokuUserid != null">
        TOUROKU_USERID = #{tourokuUserid,jdbcType=VARCHAR},
      </if>
    </set>
    where CATALOG_ID = #{catalogId,jdbcType=CHAR}
      and GENRE_NO = #{genreNo,jdbcType=VARCHAR}
      and HAGAKI_SYOUHIN_CD = #{hagakiSyouhinCd,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.commodity.entity.dto.MCatalogGenreSyouhin">
    update m_catalog_genre_syouhin
    set KOUSHIN_BI = #{koushinBi,jdbcType=TIMESTAMP},
      KOUSHIN_USERID = #{koushinUserid,jdbcType=VARCHAR},
      TOUROKU_BI = #{tourokuBi,jdbcType=TIMESTAMP},
      TOUROKU_USERID = #{tourokuUserid,jdbcType=VARCHAR}
    where CATALOG_ID = #{catalogId,jdbcType=CHAR}
      and GENRE_NO = #{genreNo,jdbcType=VARCHAR}
      and HAGAKI_SYOUHIN_CD = #{hagakiSyouhinCd,jdbcType=VARCHAR}
  </update>
</mapper>