<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.commodity.entity.dao.MHaisouMapper">
  <resultMap id="BaseResultMap" type="com.commodity.entity.dto.MHaisou">
    <id column="HAISOU_CD" jdbcType="CHAR" property="haisouCd" />
    <result column="HAISOU_NAME" jdbcType="VARCHAR" property="haisouName" />
    <result column="HAISOU_STATUS_URL" jdbcType="VARCHAR" property="haisouStatusUrl" />
    <result column="KOUSHIN_BI" jdbcType="TIMESTAMP" property="koushinBi" />
    <result column="KOUSHIN_USERID" jdbcType="VARCHAR" property="koushinUserid" />
    <result column="TOUROKU_BI" jdbcType="TIMESTAMP" property="tourokuBi" />
    <result column="TOUROKU_USERID" jdbcType="VARCHAR" property="tourokuUserid" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    HAISOU_CD, HAISOU_NAME, HAISOU_STATUS_URL, KOUSHIN_BI, KOUSHIN_USERID, TOUROKU_BI, 
    TOUROKU_USERID
  </sql>
  <select id="selectByExample" parameterType="com.commodity.entity.dto.MHaisouExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from m_haisou
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="com.commodity.entity.dto.MHaisouKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from m_haisou
    where HAISOU_CD = #{haisouCd,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.commodity.entity.dto.MHaisouKey">
    delete from m_haisou
    where HAISOU_CD = #{haisouCd,jdbcType=CHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.commodity.entity.dto.MHaisouExample">
    delete from m_haisou
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.commodity.entity.dto.MHaisou">
    insert into m_haisou (HAISOU_CD, HAISOU_NAME, HAISOU_STATUS_URL, 
      KOUSHIN_BI, KOUSHIN_USERID, TOUROKU_BI, 
      TOUROKU_USERID)
    values (#{haisouCd,jdbcType=CHAR}, #{haisouName,jdbcType=VARCHAR}, #{haisouStatusUrl,jdbcType=VARCHAR}, 
      #{koushinBi,jdbcType=TIMESTAMP}, #{koushinUserid,jdbcType=VARCHAR}, #{tourokuBi,jdbcType=TIMESTAMP}, 
      #{tourokuUserid,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.commodity.entity.dto.MHaisou">
    insert into m_haisou
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="haisouCd != null">
        HAISOU_CD,
      </if>
      <if test="haisouName != null">
        HAISOU_NAME,
      </if>
      <if test="haisouStatusUrl != null">
        HAISOU_STATUS_URL,
      </if>
      <if test="koushinBi != null">
        KOUSHIN_BI,
      </if>
      <if test="koushinUserid != null">
        KOUSHIN_USERID,
      </if>
      <if test="tourokuBi != null">
        TOUROKU_BI,
      </if>
      <if test="tourokuUserid != null">
        TOUROKU_USERID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="haisouCd != null">
        #{haisouCd,jdbcType=CHAR},
      </if>
      <if test="haisouName != null">
        #{haisouName,jdbcType=VARCHAR},
      </if>
      <if test="haisouStatusUrl != null">
        #{haisouStatusUrl,jdbcType=VARCHAR},
      </if>
      <if test="koushinBi != null">
        #{koushinBi,jdbcType=TIMESTAMP},
      </if>
      <if test="koushinUserid != null">
        #{koushinUserid,jdbcType=VARCHAR},
      </if>
      <if test="tourokuBi != null">
        #{tourokuBi,jdbcType=TIMESTAMP},
      </if>
      <if test="tourokuUserid != null">
        #{tourokuUserid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.commodity.entity.dto.MHaisouExample" resultType="java.lang.Long">
    select count(*) from m_haisou
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update m_haisou
    <set>
      <if test="record.haisouCd != null">
        HAISOU_CD = #{record.haisouCd,jdbcType=CHAR},
      </if>
      <if test="record.haisouName != null">
        HAISOU_NAME = #{record.haisouName,jdbcType=VARCHAR},
      </if>
      <if test="record.haisouStatusUrl != null">
        HAISOU_STATUS_URL = #{record.haisouStatusUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.koushinBi != null">
        KOUSHIN_BI = #{record.koushinBi,jdbcType=TIMESTAMP},
      </if>
      <if test="record.koushinUserid != null">
        KOUSHIN_USERID = #{record.koushinUserid,jdbcType=VARCHAR},
      </if>
      <if test="record.tourokuBi != null">
        TOUROKU_BI = #{record.tourokuBi,jdbcType=TIMESTAMP},
      </if>
      <if test="record.tourokuUserid != null">
        TOUROKU_USERID = #{record.tourokuUserid,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update m_haisou
    set HAISOU_CD = #{record.haisouCd,jdbcType=CHAR},
      HAISOU_NAME = #{record.haisouName,jdbcType=VARCHAR},
      HAISOU_STATUS_URL = #{record.haisouStatusUrl,jdbcType=VARCHAR},
      KOUSHIN_BI = #{record.koushinBi,jdbcType=TIMESTAMP},
      KOUSHIN_USERID = #{record.koushinUserid,jdbcType=VARCHAR},
      TOUROKU_BI = #{record.tourokuBi,jdbcType=TIMESTAMP},
      TOUROKU_USERID = #{record.tourokuUserid,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.commodity.entity.dto.MHaisou">
    update m_haisou
    <set>
      <if test="haisouName != null">
        HAISOU_NAME = #{haisouName,jdbcType=VARCHAR},
      </if>
      <if test="haisouStatusUrl != null">
        HAISOU_STATUS_URL = #{haisouStatusUrl,jdbcType=VARCHAR},
      </if>
      <if test="koushinBi != null">
        KOUSHIN_BI = #{koushinBi,jdbcType=TIMESTAMP},
      </if>
      <if test="koushinUserid != null">
        KOUSHIN_USERID = #{koushinUserid,jdbcType=VARCHAR},
      </if>
      <if test="tourokuBi != null">
        TOUROKU_BI = #{tourokuBi,jdbcType=TIMESTAMP},
      </if>
      <if test="tourokuUserid != null">
        TOUROKU_USERID = #{tourokuUserid,jdbcType=VARCHAR},
      </if>
    </set>
    where HAISOU_CD = #{haisouCd,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.commodity.entity.dto.MHaisou">
    update m_haisou
    set HAISOU_NAME = #{haisouName,jdbcType=VARCHAR},
      HAISOU_STATUS_URL = #{haisouStatusUrl,jdbcType=VARCHAR},
      KOUSHIN_BI = #{koushinBi,jdbcType=TIMESTAMP},
      KOUSHIN_USERID = #{koushinUserid,jdbcType=VARCHAR},
      TOUROKU_BI = #{tourokuBi,jdbcType=TIMESTAMP},
      TOUROKU_USERID = #{tourokuUserid,jdbcType=VARCHAR}
    where HAISOU_CD = #{haisouCd,jdbcType=CHAR}
  </update>
</mapper>