<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.commodity.entity.dao.MKanrisyaUserKikakuMapper">
  <resultMap id="BaseResultMap" type="com.commodity.entity.dto.MKanrisyaUserKikaku">
    <id column="KIKAKU_CD" jdbcType="CHAR" property="kikakuCd" />
    <id column="KANRI_USER_ID" jdbcType="VARCHAR" property="kanriUserId" />
    <result column="KOUSHIN_BI" jdbcType="TIMESTAMP" property="koushinBi" />
    <result column="KOUSHIN_USERID" jdbcType="VARCHAR" property="koushinUserid" />
    <result column="TOUROKU_BI" jdbcType="TIMESTAMP" property="tourokuBi" />
    <result column="TOUROKU_USERID" jdbcType="VARCHAR" property="tourokuUserid" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    KIKAKU_CD, KANRI_USER_ID, KOUSHIN_BI, KOUSHIN_USERID, TOUROKU_BI, TOUROKU_USERID
  </sql>
  <select id="selectByExample" parameterType="com.commodity.entity.dto.MKanrisyaUserKikakuExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from m_kanrisya_user_kikaku
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="com.commodity.entity.dto.MKanrisyaUserKikakuKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from m_kanrisya_user_kikaku
    where KIKAKU_CD = #{kikakuCd,jdbcType=CHAR}
      and KANRI_USER_ID = #{kanriUserId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.commodity.entity.dto.MKanrisyaUserKikakuKey">
    delete from m_kanrisya_user_kikaku
    where KIKAKU_CD = #{kikakuCd,jdbcType=CHAR}
      and KANRI_USER_ID = #{kanriUserId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.commodity.entity.dto.MKanrisyaUserKikakuExample">
    delete from m_kanrisya_user_kikaku
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.commodity.entity.dto.MKanrisyaUserKikaku">
    insert into m_kanrisya_user_kikaku (KIKAKU_CD, KANRI_USER_ID, KOUSHIN_BI, 
      KOUSHIN_USERID, TOUROKU_BI, TOUROKU_USERID
      )
    values (#{kikakuCd,jdbcType=CHAR}, #{kanriUserId,jdbcType=VARCHAR}, #{koushinBi,jdbcType=TIMESTAMP}, 
      #{koushinUserid,jdbcType=VARCHAR}, #{tourokuBi,jdbcType=TIMESTAMP}, #{tourokuUserid,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.commodity.entity.dto.MKanrisyaUserKikaku">
    insert into m_kanrisya_user_kikaku
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="kikakuCd != null">
        KIKAKU_CD,
      </if>
      <if test="kanriUserId != null">
        KANRI_USER_ID,
      </if>
      <if test="koushinBi != null">
        KOUSHIN_BI,
      </if>
      <if test="koushinUserid != null">
        KOUSHIN_USERID,
      </if>
      <if test="tourokuBi != null">
        TOUROKU_BI,
      </if>
      <if test="tourokuUserid != null">
        TOUROKU_USERID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="kikakuCd != null">
        #{kikakuCd,jdbcType=CHAR},
      </if>
      <if test="kanriUserId != null">
        #{kanriUserId,jdbcType=VARCHAR},
      </if>
      <if test="koushinBi != null">
        #{koushinBi,jdbcType=TIMESTAMP},
      </if>
      <if test="koushinUserid != null">
        #{koushinUserid,jdbcType=VARCHAR},
      </if>
      <if test="tourokuBi != null">
        #{tourokuBi,jdbcType=TIMESTAMP},
      </if>
      <if test="tourokuUserid != null">
        #{tourokuUserid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.commodity.entity.dto.MKanrisyaUserKikakuExample" resultType="java.lang.Long">
    select count(*) from m_kanrisya_user_kikaku
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update m_kanrisya_user_kikaku
    <set>
      <if test="record.kikakuCd != null">
        KIKAKU_CD = #{record.kikakuCd,jdbcType=CHAR},
      </if>
      <if test="record.kanriUserId != null">
        KANRI_USER_ID = #{record.kanriUserId,jdbcType=VARCHAR},
      </if>
      <if test="record.koushinBi != null">
        KOUSHIN_BI = #{record.koushinBi,jdbcType=TIMESTAMP},
      </if>
      <if test="record.koushinUserid != null">
        KOUSHIN_USERID = #{record.koushinUserid,jdbcType=VARCHAR},
      </if>
      <if test="record.tourokuBi != null">
        TOUROKU_BI = #{record.tourokuBi,jdbcType=TIMESTAMP},
      </if>
      <if test="record.tourokuUserid != null">
        TOUROKU_USERID = #{record.tourokuUserid,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update m_kanrisya_user_kikaku
    set KIKAKU_CD = #{record.kikakuCd,jdbcType=CHAR},
      KANRI_USER_ID = #{record.kanriUserId,jdbcType=VARCHAR},
      KOUSHIN_BI = #{record.koushinBi,jdbcType=TIMESTAMP},
      KOUSHIN_USERID = #{record.koushinUserid,jdbcType=VARCHAR},
      TOUROKU_BI = #{record.tourokuBi,jdbcType=TIMESTAMP},
      TOUROKU_USERID = #{record.tourokuUserid,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.commodity.entity.dto.MKanrisyaUserKikaku">
    update m_kanrisya_user_kikaku
    <set>
      <if test="koushinBi != null">
        KOUSHIN_BI = #{koushinBi,jdbcType=TIMESTAMP},
      </if>
      <if test="koushinUserid != null">
        KOUSHIN_USERID = #{koushinUserid,jdbcType=VARCHAR},
      </if>
      <if test="tourokuBi != null">
        TOUROKU_BI = #{tourokuBi,jdbcType=TIMESTAMP},
      </if>
      <if test="tourokuUserid != null">
        TOUROKU_USERID = #{tourokuUserid,jdbcType=VARCHAR},
      </if>
    </set>
    where KIKAKU_CD = #{kikakuCd,jdbcType=CHAR}
      and KANRI_USER_ID = #{kanriUserId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.commodity.entity.dto.MKanrisyaUserKikaku">
    update m_kanrisya_user_kikaku
    set KOUSHIN_BI = #{koushinBi,jdbcType=TIMESTAMP},
      KOUSHIN_USERID = #{koushinUserid,jdbcType=VARCHAR},
      TOUROKU_BI = #{tourokuBi,jdbcType=TIMESTAMP},
      TOUROKU_USERID = #{tourokuUserid,jdbcType=VARCHAR}
    where KIKAKU_CD = #{kikakuCd,jdbcType=CHAR}
      and KANRI_USER_ID = #{kanriUserId,jdbcType=VARCHAR}
  </update>
</mapper>