<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.commodity.entity.dao.MKikakuMapper">
  <resultMap id="BaseResultMap" type="com.commodity.entity.dto.MKikaku">
    <id column="KIKAKU_CD" jdbcType="CHAR" property="kikakuCd" />
    <result column="KIKAKU_NAME" jdbcType="VARCHAR" property="kikakuName" />
    <result column="WEB_KAISI_NENDO" jdbcType="CHAR" property="webKaisiNendo" />
    <result column="WEB_KAISI_CYUUGEN_SEIBO_KBN" jdbcType="CHAR" property="webKaisiCyuugenSeiboKbn" />
    <result column="WEB_SYURYO_FLG" jdbcType="CHAR" property="webSyuryoFlg" />
    <result column="KOUSHIN_BI" jdbcType="TIMESTAMP" property="koushinBi" />
    <result column="KOUSHIN_USERID" jdbcType="VARCHAR" property="koushinUserid" />
    <result column="TOUROKU_BI" jdbcType="TIMESTAMP" property="tourokuBi" />
    <result column="TOUROKU_USERID" jdbcType="VARCHAR" property="tourokuUserid" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    KIKAKU_CD, KIKAKU_NAME, WEB_KAISI_NENDO, WEB_KAISI_CYUUGEN_SEIBO_KBN, WEB_SYURYO_FLG, 
    KOUSHIN_BI, KOUSHIN_USERID, TOUROKU_BI, TOUROKU_USERID
  </sql>
  <select id="selectByExample" parameterType="com.commodity.entity.dto.MKikakuExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from m_kikaku
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="com.commodity.entity.dto.MKikakuKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from m_kikaku
    where KIKAKU_CD = #{kikakuCd,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.commodity.entity.dto.MKikakuKey">
    delete from m_kikaku
    where KIKAKU_CD = #{kikakuCd,jdbcType=CHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.commodity.entity.dto.MKikakuExample">
    delete from m_kikaku
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.commodity.entity.dto.MKikaku">
    insert into m_kikaku (KIKAKU_CD, KIKAKU_NAME, WEB_KAISI_NENDO, 
      WEB_KAISI_CYUUGEN_SEIBO_KBN, WEB_SYURYO_FLG, KOUSHIN_BI, 
      KOUSHIN_USERID, TOUROKU_BI, TOUROKU_USERID
      )
    values (#{kikakuCd,jdbcType=CHAR}, #{kikakuName,jdbcType=VARCHAR}, #{webKaisiNendo,jdbcType=CHAR}, 
      #{webKaisiCyuugenSeiboKbn,jdbcType=CHAR}, #{webSyuryoFlg,jdbcType=CHAR}, #{koushinBi,jdbcType=TIMESTAMP}, 
      #{koushinUserid,jdbcType=VARCHAR}, #{tourokuBi,jdbcType=TIMESTAMP}, #{tourokuUserid,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.commodity.entity.dto.MKikaku">
    insert into m_kikaku
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="kikakuCd != null">
        KIKAKU_CD,
      </if>
      <if test="kikakuName != null">
        KIKAKU_NAME,
      </if>
      <if test="webKaisiNendo != null">
        WEB_KAISI_NENDO,
      </if>
      <if test="webKaisiCyuugenSeiboKbn != null">
        WEB_KAISI_CYUUGEN_SEIBO_KBN,
      </if>
      <if test="webSyuryoFlg != null">
        WEB_SYURYO_FLG,
      </if>
      <if test="koushinBi != null">
        KOUSHIN_BI,
      </if>
      <if test="koushinUserid != null">
        KOUSHIN_USERID,
      </if>
      <if test="tourokuBi != null">
        TOUROKU_BI,
      </if>
      <if test="tourokuUserid != null">
        TOUROKU_USERID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="kikakuCd != null">
        #{kikakuCd,jdbcType=CHAR},
      </if>
      <if test="kikakuName != null">
        #{kikakuName,jdbcType=VARCHAR},
      </if>
      <if test="webKaisiNendo != null">
        #{webKaisiNendo,jdbcType=CHAR},
      </if>
      <if test="webKaisiCyuugenSeiboKbn != null">
        #{webKaisiCyuugenSeiboKbn,jdbcType=CHAR},
      </if>
      <if test="webSyuryoFlg != null">
        #{webSyuryoFlg,jdbcType=CHAR},
      </if>
      <if test="koushinBi != null">
        #{koushinBi,jdbcType=TIMESTAMP},
      </if>
      <if test="koushinUserid != null">
        #{koushinUserid,jdbcType=VARCHAR},
      </if>
      <if test="tourokuBi != null">
        #{tourokuBi,jdbcType=TIMESTAMP},
      </if>
      <if test="tourokuUserid != null">
        #{tourokuUserid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.commodity.entity.dto.MKikakuExample" resultType="java.lang.Long">
    select count(*) from m_kikaku
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update m_kikaku
    <set>
      <if test="record.kikakuCd != null">
        KIKAKU_CD = #{record.kikakuCd,jdbcType=CHAR},
      </if>
      <if test="record.kikakuName != null">
        KIKAKU_NAME = #{record.kikakuName,jdbcType=VARCHAR},
      </if>
      <if test="record.webKaisiNendo != null">
        WEB_KAISI_NENDO = #{record.webKaisiNendo,jdbcType=CHAR},
      </if>
      <if test="record.webKaisiCyuugenSeiboKbn != null">
        WEB_KAISI_CYUUGEN_SEIBO_KBN = #{record.webKaisiCyuugenSeiboKbn,jdbcType=CHAR},
      </if>
      <if test="record.webSyuryoFlg != null">
        WEB_SYURYO_FLG = #{record.webSyuryoFlg,jdbcType=CHAR},
      </if>
      <if test="record.koushinBi != null">
        KOUSHIN_BI = #{record.koushinBi,jdbcType=TIMESTAMP},
      </if>
      <if test="record.koushinUserid != null">
        KOUSHIN_USERID = #{record.koushinUserid,jdbcType=VARCHAR},
      </if>
      <if test="record.tourokuBi != null">
        TOUROKU_BI = #{record.tourokuBi,jdbcType=TIMESTAMP},
      </if>
      <if test="record.tourokuUserid != null">
        TOUROKU_USERID = #{record.tourokuUserid,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update m_kikaku
    set KIKAKU_CD = #{record.kikakuCd,jdbcType=CHAR},
      KIKAKU_NAME = #{record.kikakuName,jdbcType=VARCHAR},
      WEB_KAISI_NENDO = #{record.webKaisiNendo,jdbcType=CHAR},
      WEB_KAISI_CYUUGEN_SEIBO_KBN = #{record.webKaisiCyuugenSeiboKbn,jdbcType=CHAR},
      WEB_SYURYO_FLG = #{record.webSyuryoFlg,jdbcType=CHAR},
      KOUSHIN_BI = #{record.koushinBi,jdbcType=TIMESTAMP},
      KOUSHIN_USERID = #{record.koushinUserid,jdbcType=VARCHAR},
      TOUROKU_BI = #{record.tourokuBi,jdbcType=TIMESTAMP},
      TOUROKU_USERID = #{record.tourokuUserid,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.commodity.entity.dto.MKikaku">
    update m_kikaku
    <set>
      <if test="kikakuName != null">
        KIKAKU_NAME = #{kikakuName,jdbcType=VARCHAR},
      </if>
      <if test="webKaisiNendo != null">
        WEB_KAISI_NENDO = #{webKaisiNendo,jdbcType=CHAR},
      </if>
      <if test="webKaisiCyuugenSeiboKbn != null">
        WEB_KAISI_CYUUGEN_SEIBO_KBN = #{webKaisiCyuugenSeiboKbn,jdbcType=CHAR},
      </if>
      <if test="webSyuryoFlg != null">
        WEB_SYURYO_FLG = #{webSyuryoFlg,jdbcType=CHAR},
      </if>
      <if test="koushinBi != null">
        KOUSHIN_BI = #{koushinBi,jdbcType=TIMESTAMP},
      </if>
      <if test="koushinUserid != null">
        KOUSHIN_USERID = #{koushinUserid,jdbcType=VARCHAR},
      </if>
      <if test="tourokuBi != null">
        TOUROKU_BI = #{tourokuBi,jdbcType=TIMESTAMP},
      </if>
      <if test="tourokuUserid != null">
        TOUROKU_USERID = #{tourokuUserid,jdbcType=VARCHAR},
      </if>
    </set>
    where KIKAKU_CD = #{kikakuCd,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.commodity.entity.dto.MKikaku">
    update m_kikaku
    set KIKAKU_NAME = #{kikakuName,jdbcType=VARCHAR},
      WEB_KAISI_NENDO = #{webKaisiNendo,jdbcType=CHAR},
      WEB_KAISI_CYUUGEN_SEIBO_KBN = #{webKaisiCyuugenSeiboKbn,jdbcType=CHAR},
      WEB_SYURYO_FLG = #{webSyuryoFlg,jdbcType=CHAR},
      KOUSHIN_BI = #{koushinBi,jdbcType=TIMESTAMP},
      KOUSHIN_USERID = #{koushinUserid,jdbcType=VARCHAR},
      TOUROKU_BI = #{tourokuBi,jdbcType=TIMESTAMP},
      TOUROKU_USERID = #{tourokuUserid,jdbcType=VARCHAR}
    where KIKAKU_CD = #{kikakuCd,jdbcType=CHAR}
  </update>
</mapper>