<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.commodity.entity.dao.TWebJuchuMeisaiMapper">
  <resultMap id="BaseResultMap" type="com.commodity.entity.dto.TWebJuchuMeisai">
    <id column="TOIAWASE_NO" jdbcType="VARCHAR" property="toiawaseNo" />
    <id column="MEISAI_NO" jdbcType="CHAR" property="meisaiNo" />
    <result column="HAGAKI_SYOUHIN_CD" jdbcType="VARCHAR" property="hagakiSyouhinCd" />
    <result column="TODOKE_BI" jdbcType="DATE" property="todokeBi" />
    <result column="KOUSHIN_BI" jdbcType="TIMESTAMP" property="koushinBi" />
    <result column="KOUSHIN_USERID" jdbcType="VARCHAR" property="koushinUserid" />
    <result column="TOUROKU_BI" jdbcType="TIMESTAMP" property="tourokuBi" />
    <result column="TOUROKU_USERID" jdbcType="VARCHAR" property="tourokuUserid" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    TOIAWASE_NO, MEISAI_NO, HAGAKI_SYOUHIN_CD, TODOKE_BI, KOUSHIN_BI, KOUSHIN_USERID, 
    TOUROKU_BI, TOUROKU_USERID
  </sql>
  <select id="selectByExample" parameterType="com.commodity.entity.dto.TWebJuchuMeisaiExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_web_juchu_meisai
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="com.commodity.entity.dto.TWebJuchuMeisaiKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_web_juchu_meisai
    where TOIAWASE_NO = #{toiawaseNo,jdbcType=VARCHAR}
      and MEISAI_NO = #{meisaiNo,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.commodity.entity.dto.TWebJuchuMeisaiKey">
    delete from t_web_juchu_meisai
    where TOIAWASE_NO = #{toiawaseNo,jdbcType=VARCHAR}
      and MEISAI_NO = #{meisaiNo,jdbcType=CHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.commodity.entity.dto.TWebJuchuMeisaiExample">
    delete from t_web_juchu_meisai
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.commodity.entity.dto.TWebJuchuMeisai">
    insert into t_web_juchu_meisai (TOIAWASE_NO, MEISAI_NO, HAGAKI_SYOUHIN_CD, 
      TODOKE_BI, KOUSHIN_BI, KOUSHIN_USERID, 
      TOUROKU_BI, TOUROKU_USERID)
    values (#{toiawaseNo,jdbcType=VARCHAR}, #{meisaiNo,jdbcType=CHAR}, #{hagakiSyouhinCd,jdbcType=VARCHAR}, 
      #{todokeBi,jdbcType=DATE}, #{koushinBi,jdbcType=TIMESTAMP}, #{koushinUserid,jdbcType=VARCHAR}, 
      #{tourokuBi,jdbcType=TIMESTAMP}, #{tourokuUserid,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.commodity.entity.dto.TWebJuchuMeisai">
    insert into t_web_juchu_meisai
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="toiawaseNo != null">
        TOIAWASE_NO,
      </if>
      <if test="meisaiNo != null">
        MEISAI_NO,
      </if>
      <if test="hagakiSyouhinCd != null">
        HAGAKI_SYOUHIN_CD,
      </if>
      <if test="todokeBi != null">
        TODOKE_BI,
      </if>
      <if test="koushinBi != null">
        KOUSHIN_BI,
      </if>
      <if test="koushinUserid != null">
        KOUSHIN_USERID,
      </if>
      <if test="tourokuBi != null">
        TOUROKU_BI,
      </if>
      <if test="tourokuUserid != null">
        TOUROKU_USERID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="toiawaseNo != null">
        #{toiawaseNo,jdbcType=VARCHAR},
      </if>
      <if test="meisaiNo != null">
        #{meisaiNo,jdbcType=CHAR},
      </if>
      <if test="hagakiSyouhinCd != null">
        #{hagakiSyouhinCd,jdbcType=VARCHAR},
      </if>
      <if test="todokeBi != null">
        #{todokeBi,jdbcType=DATE},
      </if>
      <if test="koushinBi != null">
        #{koushinBi,jdbcType=TIMESTAMP},
      </if>
      <if test="koushinUserid != null">
        #{koushinUserid,jdbcType=VARCHAR},
      </if>
      <if test="tourokuBi != null">
        #{tourokuBi,jdbcType=TIMESTAMP},
      </if>
      <if test="tourokuUserid != null">
        #{tourokuUserid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.commodity.entity.dto.TWebJuchuMeisaiExample" resultType="java.lang.Long">
    select count(*) from t_web_juchu_meisai
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update t_web_juchu_meisai
    <set>
      <if test="record.toiawaseNo != null">
        TOIAWASE_NO = #{record.toiawaseNo,jdbcType=VARCHAR},
      </if>
      <if test="record.meisaiNo != null">
        MEISAI_NO = #{record.meisaiNo,jdbcType=CHAR},
      </if>
      <if test="record.hagakiSyouhinCd != null">
        HAGAKI_SYOUHIN_CD = #{record.hagakiSyouhinCd,jdbcType=VARCHAR},
      </if>
      <if test="record.todokeBi != null">
        TODOKE_BI = #{record.todokeBi,jdbcType=DATE},
      </if>
      <if test="record.koushinBi != null">
        KOUSHIN_BI = #{record.koushinBi,jdbcType=TIMESTAMP},
      </if>
      <if test="record.koushinUserid != null">
        KOUSHIN_USERID = #{record.koushinUserid,jdbcType=VARCHAR},
      </if>
      <if test="record.tourokuBi != null">
        TOUROKU_BI = #{record.tourokuBi,jdbcType=TIMESTAMP},
      </if>
      <if test="record.tourokuUserid != null">
        TOUROKU_USERID = #{record.tourokuUserid,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update t_web_juchu_meisai
    set TOIAWASE_NO = #{record.toiawaseNo,jdbcType=VARCHAR},
      MEISAI_NO = #{record.meisaiNo,jdbcType=CHAR},
      HAGAKI_SYOUHIN_CD = #{record.hagakiSyouhinCd,jdbcType=VARCHAR},
      TODOKE_BI = #{record.todokeBi,jdbcType=DATE},
      KOUSHIN_BI = #{record.koushinBi,jdbcType=TIMESTAMP},
      KOUSHIN_USERID = #{record.koushinUserid,jdbcType=VARCHAR},
      TOUROKU_BI = #{record.tourokuBi,jdbcType=TIMESTAMP},
      TOUROKU_USERID = #{record.tourokuUserid,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.commodity.entity.dto.TWebJuchuMeisai">
    update t_web_juchu_meisai
    <set>
      <if test="hagakiSyouhinCd != null">
        HAGAKI_SYOUHIN_CD = #{hagakiSyouhinCd,jdbcType=VARCHAR},
      </if>
      <if test="todokeBi != null">
        TODOKE_BI = #{todokeBi,jdbcType=DATE},
      </if>
      <if test="koushinBi != null">
        KOUSHIN_BI = #{koushinBi,jdbcType=TIMESTAMP},
      </if>
      <if test="koushinUserid != null">
        KOUSHIN_USERID = #{koushinUserid,jdbcType=VARCHAR},
      </if>
      <if test="tourokuBi != null">
        TOUROKU_BI = #{tourokuBi,jdbcType=TIMESTAMP},
      </if>
      <if test="tourokuUserid != null">
        TOUROKU_USERID = #{tourokuUserid,jdbcType=VARCHAR},
      </if>
    </set>
    where TOIAWASE_NO = #{toiawaseNo,jdbcType=VARCHAR}
      and MEISAI_NO = #{meisaiNo,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.commodity.entity.dto.TWebJuchuMeisai">
    update t_web_juchu_meisai
    set HAGAKI_SYOUHIN_CD = #{hagakiSyouhinCd,jdbcType=VARCHAR},
      TODOKE_BI = #{todokeBi,jdbcType=DATE},
      KOUSHIN_BI = #{koushinBi,jdbcType=TIMESTAMP},
      KOUSHIN_USERID = #{koushinUserid,jdbcType=VARCHAR},
      TOUROKU_BI = #{tourokuBi,jdbcType=TIMESTAMP},
      TOUROKU_USERID = #{tourokuUserid,jdbcType=VARCHAR}
    where TOIAWASE_NO = #{toiawaseNo,jdbcType=VARCHAR}
      and MEISAI_NO = #{meisaiNo,jdbcType=CHAR}
  </update>
</mapper>