/* ------------------------------------------------------------------------------------------------
   共通部
   ------------------------------------------------------------------------------------------------ */

* {
	margin: 0;
	padding : 0;
}

/* ------------------------------------------------
   ボディタグ(<body>)
   ------------------------------------------------ */
body {
	font-size: 110%;/*--100% 1.1em--*/
	margin: 5px 10px;
	color: #333333;
	line-height: 120%;
	font-family: "ＭＳ Ｐゴシック", "MS UI GOTHIC", "OSAKA", "ARIAL", "HELVETICA", "SANS-SERIF";
	background-color: #ffffff;
	text-align: center;
}

/* ------------------------------------------------
   テーブルタグ(<table>)
   ------------------------------------------------ */
table {
	border: 0px solid;
	margin: 0px;
	padding: 0px;
	font-size: 100%;
	color: #333333;
	line-height: 140%;
}

/* ------------------------------------------------
   リンクタグ(<a>)
   ------------------------------------------------ */
a:link {
	color: #0055bb;
	text-decoration: none;
}
a:visited {
	color: #0055bb;
	text-decoration: none;
}
a:hover {
	color: #0077ff;
	text-decoration: underline;
}
a:active {
	color: #0055bb;
	text-decoration: underline;
}

/* ------------------------------------------------
   画像タグ(<img>)
   ------------------------------------------------ */
img {
	border: none;
}


/* ------------------------------------------------
   ボタンタグ(<type="button">)
   ------------------------------------------------ */
.button {
	cursor:pointer;
}


/* ------------------------------------------------
   container (body直下に配置するdivタグ)
   ------------------------------------------------ */
#container {
	width: 950px;
	margin: 0 auto;
	font-size: 0.75em;
	line-height: 1.5;
	position: relative;
}

/* -----------------------------------------------
    header (ヘッダー部)
   ----------------------------------------------- */
#header{
	width: 100%;
	height : 65px ;
	margin:0 auto;
}
#header .logo{
	float: left;
	width: 200px;
	margin-top: 4px;
}
#header .user{
	float:left;
	width:480px;
	margin-top:25px;
	text-align:right;
}
	#header .user span{
		font-weight:bold;
	}
#header .navi{
	float:right;
	margin-top:20px;
}
	#header .navi li{
		list-style: none;
		float:left;
	}

/* -----------------------------------------------
    footer (フッター部)
   ----------------------------------------------- */
#footer 
{
	font-size: 0.75em;
	width: 100%;
	position: relative;
	clear: both;
	margin: 12px auto 0;
	background: #eeeeee;
}
	#footer .navi 
	{
	border: 1px solid #f3e0e0;
	border-bottom: 2px solid #ff0000;
	padding: 0 5px;
	min-height: 29px;
	}
	#footer .navi li {
		float: left;
		list-style: none;
		padding-left:10px;
		margin: 6px 0px;
	}
	#footer .copy {
	text-align: right;
	padding: 6px;
	color: gray;
	}

/* -----------------------------------------------
    globalNavi (ヘッダー下のリンク／検索)
   ----------------------------------------------- */
#globalNavi {
	clear: both;
	margin: 10px 0 15px;
	padding: 2px 0;
	text-align: right;
	vertical-align:middle;
	border-top: 2px solid #ff0000;
	background: #eeeeee;
}
	#globalNavi ul li {
		float: left;
		list-style: none;
	}
	#globalNavi #keywordInclude {
		width: 200px;
	}

/* -----------------------------------------------
    leftArea (左ナビゲーション)
   ----------------------------------------------- */
#leftArea li {
	padding-bottom: 4px;
	list-style: none;
}

/* -----------------------------------------------
    pageLink (ページング)
   ----------------------------------------------- */
.pager {
	width: 95%;
	text-align: right;
}
	.pager table {
		margin-top: 24px;
	}
	.pager li {
		list-style: none;
		float: left;
	}
	.pager li.info {
		margin-right: 20px;
	}
	.pager li.prev {
		margin-right: 5px;
	}
	.pager li.next {
		margin-left: 5px;
	}

/* ------------------------------------------------
   メイン部分のページタイトル画像の設定
   ------------------------------------------------ */
#pageTitle {
	text-align: left;
	padding-bottom:12px;
}

/* ------------------------------------------------
   フッター上のトップへ戻るの設定
   ------------------------------------------------ */
#pageTop {
	width: 200px;
	float: right;
	text-align: right;
	margin: 20px 4px 0px 0px;
}

/* ------------------------------------------------
   float clear (floatによるテキストの回り込みをクリア)
   ------------------------------------------------ */
#header:after, #globalNavi ul:after, #contents:after, #rightArea:after, #mainArea:after, #adminMainArea:after, #footer .navi ul:after, .clearFix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.clearFix {
	padding:5px 0 5px 0;
	line-height: 20px;
}

/* ------------------------------------------------
   テキストの配置位置
   ------------------------------------------------ */
/* 中央寄せ */
.center {
	text-align: center;
}
/* 右寄せ */
.right {
	text-align: right;
}
/* 左寄せ */
.left {
	text-align: left;
}

/* 上詰め、左寄せ */
.top-left {
	vertical-align: top;
	text-align: left;
}


/* ------------------------------------------------
   liのリストのインデント指定
   ------------------------------------------------ */
.list1 {
	padding-left: 0px;
}
.list2 {
	padding-left: 8px;
}

/* ------------------------------------------------
   画面レイアウト (左ナビゲーションとメイン部分のサイズ指定)
   ------------------------------------------------ */
.layout01 #contents {
	float: right;
	width: 100%;
}
	.layout01 #leftArea {
		float:left;
		width:180px;
		padding-left:16px;
		text-align:left;
	}
	.layout01 #rightArea {
		float: right;
		width: 750px;
	}
		.layout01 #rightArea .mainArea {
			float: left;
			width: 736px;
			border: 1px solid #f3e0e0;
			padding: 4px;
		}
		.layout01 #rightArea .mainArea .main {
			float: left;
			width: 734px;
			min-height: 400px;
			margin-bottom: 25px;
		}
		.layout01 #rightArea .mainArea .main .sub {
			float: left;
			width: 725px;
			border: 1px solid #f3e0e0;
			padding: 4px;
			margin-bottom: 20px;
		}
		.layout01 #rightArea .adminMainArea {
			float: left;
			width: 740px;
			border: 1px solid #808080;
			padding: 20px 4px;
			margin-bottom: 20px;
		}

.noBorder {
	border: none !important;
}
/* セレクトボックスの幅*/
.select
{
	width: 120px;
}
/*HR*/
.hr
{
	/*border: Gray 1px solid;*/
	width: 100%;
	/*size: 1;*/
	/*padding: 0;*/
	height: 1px;
	color: Gray;
}

/* ------------------------------------------------------------------------------------------------
   個別画面部
   ------------------------------------------------------------------------------------------------ */
/* -----------------------------------------------
    ログイン(800)
   ----------------------------------------------- */
.password{
	 width: 120px; /*--10em--*/
}

/* -----------------------------------------------
    商品情報一覧・検索 (802)、(803)
   ----------------------------------------------- */
.itemListTable {
	border: none;
}
	.itemListTable th {
		border:1px solid #808080;
		background-color: #dcdcdc;
		padding: 1px 4px;
	}
	.itemListTable td{
		border: 1px solid #808080;
		padding: 4px;
	}

/* -----------------------------------------------
    商品画像登録 (804)
   ----------------------------------------------- */
.imgUploadTable {
	margin: 12px 2px;
	border: 1px solid #accdec;
}
	.imgUploadTable tr {
		border:1px solid #accdec;
	}
	.imgUploadTable td{
		padding: 1px 8px;
	}

.imgUploadListTable .itemImg {
	border:1px solid #000000;
}

/* -----------------------------------------------
    footer (フッター部)
   ----------------------------------------------- */
#adminfooter {
	width: 100%;
	margin: 0px 0px 0px 0px;
	position: relative;
}
	#adminfooter .copy {
		margin: 0px 0px 0px;
		text-align: right;
		color: gray;
	}

	#adminfooter .separate {
		clear: both;
		margin: 5px 0px 0px;
		padding: 0px;
		text-align: right;
		vertical-align:middle;
		border-top: 2px solid #000080;
	}

#separate {
	clear: both;
	margin: 10px 0 15px;
	padding: 2px 0;
	text-align: right;
	vertical-align:middle;
	border-top: 2px solid #000080;
}
