* {
	margin: 0;
	padding : 0;
}

/* ------------------------------------------------
   ボディタグ(<body>)
   ------------------------------------------------ */
body {
	font-size: 110%;/*--100% 1.1em--*/
	margin: 5px 10px;
	color: #333333;
	line-height: 120%;
	font-family: "ＭＳ Ｐゴシック", "MS UI GOTHIC", "OSAKA", "ARIAL", "HELVETICA", "SANS-SERIF";
	background:url(../images/common/bg_grad.gif) 0 0 repeat-x #DCDCDC;
	text-align: center;
}

/* ------------------------------------------------
   テーブルタグ(<table>)
   ------------------------------------------------ */
table {
	border: 0px solid;
	margin: 0px;
	padding: 0px;
	font-size: 100%;
	color: #333333;
	line-height: 140%;
}

/* ------------------------------------------------
   リンクタグ(<a>)
   ------------------------------------------------ */
a:link {
	color: #0055bb;
	text-decoration: none;
}
a:visited {
	color: #0055bb;
	text-decoration: none;
}
a:hover {
	color: #0077ff;
	text-decoration: underline;
}
a:active {
	color: #0055bb;
	text-decoration: underline;
}

/* ------------------------------------------------
   画像タグ(<img>)
   ------------------------------------------------ */
img {
	border: none;
}


/* ------------------------------------------------
   container (body直下に配置するdivタグ)
   ------------------------------------------------ */
#container {
	width: 980px;
	margin: 0 auto;
	font-size: 0.75em;
	line-height: 1.5;
	position: relative;
}

/* -----------------------------------------------
    header (ヘッダー部)
   ----------------------------------------------- */
#header{
	width: 100%;
	height : 80px ;
	margin:0 auto;
}
#header .logo{
	float: left;
	width: 200px;
	margin-top: 10px;
}
#header .user{
	float:right;
	width:480px;
	margin-top:10px;
	text-align:right;

}
	#header .user span{
		font-weight:bold;
	}
#header .navi{
	float:right;
	margin-top:0px;
}
	#header .navi li{
		list-style: none;
		float:left;
	}

.navi2{
	margin-top:0px;
}
.navi2 li{
		list-style: none;
		float:left;
	}

/* -----------------------------------------------
    footer (フッター部)
   ----------------------------------------------- */
/*#footer 
{
	width: 100%;
	position: relative;
	clear: both;
	margin: 0 auto ;
	background: #DCDCDC;
	text-align:left;
	border-top: 2px solid #888888;
}
	#footer .logo 
	{
	float:left;	
	padding: 10px 5px;
	}
	
	#footer .navi 
	{
	float:right;	
	padding: 10px 5px;
	min-height: 29px;
	}
	#footer .navi li {
		float: left;
		list-style: none;
		padding-left:10px;
		margin: 0px 0px;
	}*/


#footer 
{
	font-size: 0.75em;
	width: 100%;
	position: relative;
	clear: both;
	margin: 12px auto 0;
	background: #eeeeee;
}
	#footer .navi 
	{
	border: 1px solid #f3e0e0;
	border-bottom: 2px solid #ff0000;
	padding: 0 5px;
	min-height: 29px;
	}
	#footer .navi li {
		float: left;
		list-style: none;
		padding-left:10px;
		margin: 6px 0px;
	}
	#footer .copy {
	text-align: right;
	padding: 6px;
	color: gray;
	}

/* -----------------------------------------------
    globalNavi (ヘッダー下のリンク／検索)
   ----------------------------------------------- */
#globalNavi {
	clear: both;
	margin: 10px 0 5px;
	padding: 2px 0;
	text-align: right;
	vertical-align:middle;
	border-top: 2px solid #ff0000;
	background: #eeeeee;
}
	#globalNavi ul li {
		float: left;
		list-style: none;
	}
	#globalNavi #keywordInclude {
		width: 200px;
	}

#globalNavi2 {
	margin: 10px 0 10px;
	*margin: 10px 0 40px;
	padding: 2px 0;
	text-align: right;
}
	#globalNavi2 ul li {
		float: left;
		list-style: none;
	}

/* -----------------------------------------------
    leftArea (左ナビゲーション)
   ----------------------------------------------- */
#leftArea li {
/*	padding-bottom: 4px;*/
	list-style: none;
}

/* -----------------------------------------------
    pageLink (ページング)
   ----------------------------------------------- */
.pager {
	width: 95%;
	text-align: right;
}
	.pager table {
		margin-top: 24px;
	}
	.pager li {
		list-style: none;
		float: left;
	}
	.pager li.info {
		margin-right: 20px;
	}
	.pager li.prev {
		margin-right: 5px;
	}
	.pager li.next {
		margin-left: 5px;
	}

/* ------------------------------------------------
   メイン部分のページタイトル画像の設定
   ------------------------------------------------ */
#pageTitle {
	text-align: left;
	padding-bottom:12px;
}

/* ------------------------------------------------
   フッター上のトップへ戻るの設定
   ------------------------------------------------ */
#pageTop {
	width: 200px;
	float: right;
	text-align: right;
	margin: 20px 4px 0 0;
}

/* ------------------------------------------------
   float clear (floatによるテキストの回り込みをクリア)
   ------------------------------------------------ */
#header:after, #globalNavi ul:after, #globalNavi2 ul:after, #contents:after, #rightArea:after, #mainArea:after, #adminMainArea:after, #footer .navi ul:after, .clearFix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.clearFix {
	padding:5px 0 5px 0;
	line-height: 20px;
}

/* ------------------------------------------------
   テキストの配置位置
   ------------------------------------------------ */
/* 中央寄せ */
.center {
	text-align: center;
}
/* 右寄せ */
.right {
	text-align: right;
}
/* 左寄せ */
.left {
	text-align: left;
}

/* 上詰め、左寄せ */
.top-left {
	vertical-align: top;
	text-align: left;
}


/* ------------------------------------------------
   liのリストのインデント指定
   ------------------------------------------------ */
.list1 {
	padding-left: 0px;
}
.list2 {
	padding-left: 8px;
}


/* ------------------------------------------------
   画面レイアウト (左ナビゲーションとメイン部分のサイズ指定)
   ------------------------------------------------ */
.layout01 #contents {
	float: right;
	width: 100%;
	margin-bottom:15px;
}
	.layout01 #leftArea {
	float:left;
	width:200px;
	padding-left:0px;
	text-align:left;
	background-image:url(../images/common/leftNavi/left_bg.gif);
	background-repeat: repeat;
	background-position: left top;
	}
	.layout01 #rightArea {
		float: right;
		width: 750px;
	}
		.layout01 #rightArea .mainArea {
			float: left;
			width: 736px;
			border: 1px solid #cccccc;
			padding: 4px;
		}
		.layout01 #rightArea .mainArea .main {
			float: left;
			width: 734px;
			min-height: 400px;
			margin-bottom: 25px;
		}
		.layout01 #rightArea .mainArea .main .sub {
			float: left;
			width: 725px;
			border: 1px solid #f3e0e0;
			padding: 4px;
			margin-bottom: 20px;
		}
		.layout01 #rightArea .adminMainArea {
			float: left;
			width: 740px;
			border: 1px solid #808080;
			padding: 20px 4px;
			margin-bottom: 20px;
		}

.noBorder {
	border: none !important;
}
/* セレクトボックスの幅*/
.select
{
	width: 120px;
}
/*HR*/
.hr
{
	/*border: Gray 1px solid;*/
	width: 100%;
	/*size: 1;*/
	/*padding: 0;*/
	height: 1px;
	color: Gray;
}


/*********** 追加CSS ***********/

/* ローカルナビゲーション*/

div.localnavi_top{
	width:168px;
	float:left;
	margin:0 14px 14px;
}

.ins_localnavi li{
	line-height:1.2;
	margin:0 0 0px 0;
	padding:8px 0px 0px 15px;
	background:url(../images/common/leftNavi/localnavi02.gif) left 2px no-repeat #eeeeee;
	border-bottom:#bbbbbb 1px solid;
	color:#333333;
	zoom:1;
}

.ins_localnavi li.current{
	background:url(../../image/icon_arrow2.gif) 10px 10px no-repeat #BE0000;
	color:#ffffff;
}

.ins_localnavi li.parent{
	padding:5px 0px 0px 15px;
	background:url(../images/common/leftNavi/localnavi01.gif) left 2px no-repeat #eeeeee;
	color:#333333;
}

.ins_localnavi li.parent_current{
	padding:5px 0px 0px 25px;
	background:url(../images/common/leftNavi/localnavi03.gif) left 2px no-repeat #BE0000;
	color:#ffffff;
}

.ins_localnavi li a:link,
.ins_localnavi li a:visited,{
	color:#333333 ;
	text-decoration:none ;
}

.ins_localnavi li a:hover,
.ins_localnavi li a:active {
	color:#0077ff;
	text-decoration:underline;
}

.ins_localnavi li.current a:link,
.ins_localnavi li.current a:visited,
.ins_localnavi li.current a:hover,
.ins_localnavi li.current a:active {
	color:#333333;
	text-decoration:none ;	
}

.ins_localnavi li.parent_current a:link,
.ins_localnavi li.parent_current a:visited,
.ins_localnavi li.parent_current a:hover,
.ins_localnavi li.parent_current a:active {
	color:#333333;
	text-decoration:none ;	
}

.ins_localnavi li.parent ul.child,
.ins_localnavi li.parent_current ul.child{
	margin:5px 0 0 -15px;
	border:none;
	padding:0 0;
}

.ins_localnavi li.parent ul.child li,
.ins_localnavi li.parent_current ul.child li{
	line-height:1.2;
	margin:0 ;
	padding:5px 5px 5px 25px;
	border:none;
	border-top:#bbbbbb 1px solid;
	background:url(../images/common/leftNavi/localnavi02.gif) left 2px no-repeat #ffffff;
}

.ins_localnavi li.parent_current ul.child li a:link,
.ins_localnavi li.parent_current ul.child li a:visited,
.ins_localnavi li.parent_current ul.child li a:hover,
.ins_localnavi li.parent_current ul.child li a:active {
	color:#333333;
	text-decoration:underline;
}

.ins_localnavi li.parent ul.child li.current a,
.ins_localnavi li.parent_current ul.child li.current a{
	color:#333333;
}

.ins_localnavi li.parent ul.child li.current,
.ins_localnavi li.parent_current ul.child li.current{
	background:url(../images/common/leftNavi/localnavi03.gif) left 2px no-repeat #BE0000;
	color:#ffffff;	
}

.ins_localnavi li.parent ul.child li.parent,
.ins_localnavi li.parent_current ul.child li.parent{
	padding:8px 0px 0px 25px;
	background:url(../images/common/leftNavi/localnavi01.gif) left 2px no-repeat #eeeeee;		
}

.ins_localnavi li.parent ul.child li.parent_current,
.ins_localnavi li.parent_current ul.child li.parent_current{
	padding:8px 0px 0px 25px;
	background:url(../images/common/leftNavi/localnavi03.gif) left 2px no-repeat #BE0000;
	color:#ffffff;	
}

/*.ins_localnavi li.parent ul.child li a:hover,
.ins_localnavi li.parent ul.child li a:visited
.ins_localnavi li.parent_current ul.child li a:hover,
.ins_localnavi li.parent_current ul.child li a:visited{
color:#FFFFFF;
}*/

.ins_localnavi li.parent ul.child li.parent ul.child,
.ins_localnavi li.parent_current ul.child li.parent ul.child,
.ins_localnavi li.parent ul.child li.parent_current ul.child,
.ins_localnavi li.parent_current ul.child li.parent_current ul.child{
	margin:7px 0 0 -34px;
	border:none;
	padding:0 0;
}

.ins_localnavi li.parent ul.child li.parent ul.child li,
.ins_localnavi li.parent_current ul.child li.parent ul.child li,
.ins_localnavi li.parent ul.child li.parent_current ul.child li,
.ins_localnavi li.parent_current ul.child li.parent_current ul.child li{
	line-height:1.2;
	margin:0;
    /* Win IEのみ */
	*margin-bottom:-1px;
	padding:6px 10px 7px 44px;
	border:none;
	border-top:#bbbbbb 1px solid;
	background:url(../../image/icon_arrow2.gif) 30px center no-repeat #cccccc;
	color:#222222;
}

.ins_localnavi li.parent ul.child li.parent ul.child li a,
.ins_localnavi li.parent_current ul.child li.parent ul.child li a{
	color:#333333;
}

.ins_localnavi li.parent ul.child li.parent ul.child li.current,
.ins_localnavi li.parent_current ul.child li.parent ul.child li.current{
	background:url(../../image/icon_arrow2.gif) 30px center no-repeat #ffeeee;
	color:#333333;
}

.ins_localnavi li.parent ul.child li.parent ul.child li.current a,
.ins_localnavi li.parent_current ul.child li.parent ul.child li.current a{
	color:#ffffff;
}


/*サイドエリア（左）*/
.leftList1 {
	padding:15px 16px 0;
	margin-bottom:30px;
}
.leftList2 {
	text-align:right;
	margin-bottom:15px;
}
.leftSearch {
	padding:8px 8px 15px 8px;
	margin:0 16px 30px 16px;
	background-color:#ffffff;
	line-height:1.2
}
.form{
	margin:0 0 10px;
	text-align:left;
	}


/*テーブルデザイン*/
/**/
.tableStyle1 {
	width:100%;
	background-image:url(../images/common/leftNavi/left_bg.gif);
	background-repeat: repeat;
	background-position: 0px 0px;
	}
.tableStyle1 th{
	background-color:#FFFFFF;
	padding:6px 10px 6px 3px;
	line-height:0;	
}
.tableStyle1 td{
	background-color:#FFFFFF;
	padding:10px 0;
}
.tableStyle1 td.nocol{
	text-align:left;
	padding:0;
	background-image:url(../images/common/leftNavi/left_bg.gif);
	background-repeat: repeat;
	background-position: 0px 0px;
}
.tableStyle1 td p{
	text-align:left;
	padding:10px 20px ;
	line-height:1.2;
}

/**/
.tableStyle2 {
	width:100%;
	background-image:url(../images/common/leftNavi/left_bg.gif);
	background-repeat: repeat;
	background-position: 0px 0px;
	}
.tableStyle2 th{
	background-color:#666666;
	padding:0 10px 0 3px;
/*	line-height:0;	*/
}
.tableStyle2 td{
	background-color:#FFFFFF;
	padding:10px 0;
}
.tableStyle2 td.nocol{
	text-align:left;
	padding:0;
	background-image:url(../images/common/leftNavi/left_bg.gif);
	background-repeat: repeat;
	background-position: 0px 0px;
}
.tableStyle2 td p{
	text-align:left;
	line-height:1.2;
	margin-bottom:10px;
}
p.text{
	text-align:left;
	line-height:1.2;
	padding: 10px 15px ;
	margin-bottom:10px;
}

/*ログイン*/
.tableStyle3{
	width:100%;
	background-image:url(../images/common/leftNavi/left_bg.gif);
	background-repeat: repeat;
	background-position: 0px 0px;
	font-size:80%;
	font-weight:bold;
}
.tableStyle3 td{
	padding:10px;
}



/*お客様情報入力*/
.image_L{
	float:left;
	margin:10px 30px 0 20px;
	border:solid #CCCCCC 1px;
	display:block;	
}
.item_R{
	float:left;
	margin:10px 20px 20px 0;
	width:770px;
	display:block;	
}
.item_R2{
	float:left;
	margin:10px 20px 20px 0;
	width:420px;
	display:block;	
}
.item_icon{
	text-align:left;
	margin-bottom:10px;
}
.item_iconL{
	text-align:left;
	margin:0 10px 10px 0;
	float:left;
}
.item_No{
	padding:4px 8px;
	background-color:#666666;
	font-size:110%;
	font-weight:bold;
	color:#FFFFFF;
	display:block;
	float:left;	
}
.item_Title{
	font-size:150%;
	text-align:left;
	padding-bottom:8px;
	margin-bottom:10px;
	border-bottom:dotted #CCCCCC 2px;
	clear:both;
}
.item_Title2{
	font-size:150%;
	text-align:left;
	padding-bottom:8px;
	margin-bottom:10px;
	vertical-align:middle;
	float:left;
}
.item_textRed{
	text-align:left;
	margin-bottom:10px;
	line-height:1.2;
	color:#CC0000;
}
.item_calendar{
	padding:0 0 0 5px;
	text-align:left;
	float:left;
}
.text1{
	text-align:left;
	margin-bottom:10px;
	line-height:1.2;
}
.form2{
	text-align:left;
	float:left;
	}
.section_line{
	border-bottom:solid 1px #CC0000;
	width: 0 auto;
	margin:0px 20px 15px 20px;
	clear:both;
	}
.Section2 {
	padding:20px 0;
	height: 1%;
	line-height: 0;
	clear:both;
}
.btn1 {
	padding-bottom:10px;
}

/**/
div.Section {
	padding: 0 0 20px;
	height: 1%;
	line-height: 0;
}

.LeftFloat{ float:left;}

.RightFloat{ float:right; }

.TopAdjust { vertical-align: top; }
